# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars

# Docker volumes
**/n8n_data/

# AWS/SSH
*.pem
*.ppk
*.key
*.pub

# Logs
*.log
*.txt

# Windows/Mac
.DS_Store
Thumbs.db

# Temporários
*~
*.bak
*.swp
*.bkp
*.old

# Sensíveis
*.env
**/backup_n8n/*.env